.card-1 {
    height: 200px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0 10px;
}


.card-icon-1 {
width: 30%;
height: 100%;
background-color: aliceblue;
padding: 5px;
font-size: medium;
font-weight: bold;
}
      
.card-content-1 {
width: 70%;
height: 100%;
background-color: #0d6efd;
padding: 5px;
font-size: medium;
font-weight: 400;
}